In [1]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv('data.csv')

data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [26]:
data.drop(['Maxpulse'],axis=1,inplace=True)
data

     Duration  Pulse  Calories
0          60    110     409.1
1          60    117     479.0
2          60    103     340.0
3          45    109     282.4
4          45    117     406.0
..        ...    ...       ...
164        60    105     290.8
165        60    110     300.4
166        60    115     310.2
167        75    120     320.4
168        75    125     330.4

[169 rows x 3 columns]

In [31]:
num = data.loc[0,'Duration']
print(num)
num1 = data.loc[0]
print(num1)

60
Duration     60.0
Pulse       110.0
Calories    409.1
Name: 0, dtype: float64

In [36]:
num = data.iloc[0,1]
print(num)
num1 = data.iloc[0:2,0:3]
print(num1)

110
   Duration  Pulse  Calories
0        60    110     409.1
1        60    117     479.0

In [53]:
groupA = data.groupby("Duration")

for i,j in groupA:
    print(i)
    print(j)

15
     Duration  Pulse  Maxpulse  Calories
93         15     80       100      50.5
112        15    124       139     124.2
20
     Duration  Pulse  Maxpulse  Calories
58         20    153       172     226.4
64         20    110       130     131.4
68         20    106       136     110.4
89         20     83       107      50.3
94         20    150       171     127.4
95         20    151       168     229.4
100        20     95       112      77.7
135        20    136       156     189.0
139        20    141       162     222.4
25
    Duration  Pulse  Maxpulse  Calories
97        25    152       168     244.2
30
     Duration  Pulse  Maxpulse  Calories
8          30    109       133     195.1
54         30    136       175     238.0
80         30    159       182     319.2
82         30    103       139     151.1
85         30    151       170     300.1
92         30     90       107     105.3
96         30     95       128     128.2
98         30    109       131     188.2
104        30     92       108      92.7
105        30     93       128     124.0
107        30     90       120      86.2
120        30    112       137     193.9
148        30    103       127     185.0
153        30    150       167     275.8
159        30     80       120     240.9
160        30     85       120     250.4
45
     Duration  Pulse  Maxpulse  Calories
3          45    109       175     282.4
4          45    117       148     406.0
7          45    104       134     253.3
17         45     90       112       NaN
19         45     97       125     243.0
21         45    100       119     282.0
23         45    105       132     246.0
31         45     90       112     180.1
39         45    104       129     266.0
40         45     90       112     180.1
47         45    111       136     300.0
48         45    108       129     298.0
57         45    115       144     305.0
59         45    123       152     321.0
63         45    118       141     341.0
74         45    114       146     304.0
76         45    105       134     251.0
77         45    110       141     300.0
81         45    149       169     344.0
84         45    100       120     225.3
86         45    102       136     234.0
88         45    129       103     242.0
91         45    107       137       NaN
111        45    107       124     275.0
113        45    100       120     225.3
121        45    100       120     100.7
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
142        45    100       120     250.4
143        45    122       149     335.4
145        45    106       126     270.8
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
60
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
5          60    102       127     300.5
6          60    110       136     374.0
..        ...    ...       ...       ...
157        60    100       120     270.4
158        60    114       150     382.8
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2

[79 rows x 4 columns]
75
     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4
80
    Duration  Pulse  Maxpulse  Calories
51        80    123       146     643.1
90
     Duration  Pulse  Maxpulse  Calories
72         90    100       127     700.0
75         90     98       125     563.2
99         90     93       124     604.1
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
108        90     90       120     500.3
128        90     99       125     466.4
120
    Duration  Pulse  Maxpulse  Calories
78       120    100       130     500.4
83       120    100       130     500.0
87       120    100       157    1000.1
150
    Duration  Pulse  Maxpulse  Calories
66       150    105       135     873.4
67       150    107       130     816.0
70       150     97       129    1115.0
73       150     97       127     953.2
160
    Duration  Pulse  Maxpulse  Calories
61       160    110       137    1034.4
62       160    109       135     853.0
180
     Duration  Pulse  Maxpulse  Calories
65        180     90       130     800.4
90        180    101       127     600.1
106       180     90       120     800.3
210
     Duration  Pulse  Maxpulse  Calories
60        210    108       160    1376.0
109       210    137       184    1860.4
270
    Duration  Pulse  Maxpulse  Calories
79       270    100       131    1729.0
300
    Duration  Pulse  Maxpulse  Calories
69       300    108       143    1500.2

In [56]:
groupA.get_group(60)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
5          60    102       127     300.5
6          60    110       136     374.0
..        ...    ...       ...       ...
157        60    100       120     270.4
158        60    114       150     382.8
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2

[79 rows x 4 columns]

In [57]:
groupA.min()

          Pulse  Maxpulse  Calories
Duration
15           80       100      50.5
20           83       107      50.3
25          152       168     244.2
30           80       107      86.2
45           90       103     100.7
60           92       101     215.2
75          120       150     320.4
80          123       146     643.1
90           90       100     466.4
120         100       130     500.0
150          97       127     816.0
160         109       135     853.0
180          90       120     600.1
210         108       160    1376.0
270         100       131    1729.0
300         108       143    1500.2

In [59]:
groupA.mean()

               Pulse    Maxpulse     Calories
Duration
15        102.000000  119.500000    87.350000
20        125.000000  146.000000   151.600000
25        152.000000  168.000000   244.200000
30        109.812500  137.000000   192.131250
45        107.485714  133.228571   273.236364
60        106.126582  132.860759   339.694737
75        122.500000  150.000000   325.400000
80        123.000000  146.000000   643.100000
90         93.750000  116.375000   541.800000
120       100.000000  139.000000   666.833333
150       101.500000  130.250000   939.400000
160       109.500000  136.000000   943.700000
180        93.666667  125.666667   733.600000
210       122.500000  172.000000  1618.200000
270       100.000000  131.000000  1729.000000
300       108.000000  143.000000  1500.200000